{% load static %}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Job/home.css' %}">  
    <title>hoome</title>
</head>
<body style="background-color:grey;font-family: Montserrat, sans-serif;">

<h1>WELCOME "{{user.username}}"<a href="{% url 'Job:filter' user.id %}" style="margin-left: 70%">Filter</a></h1>
<h3><a href="{% url 'Job:user_job' user.id %}" style="float:center;">Already Applied jobs</a></h3>


    <div class="grid-container">
      {% for company in posts.object_list  %}
      {% if company.user is not user %}
        <div>
          <form action="{% url 'Job:jsp' user.id company.id %}" method="POST" style="">
              {%  csrf_token %}
              <div class="card-container">
                  <span class="pro">PRO</span>
                  <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
                  <h3>{{company.cname}}</h3>
                  <h6>New York</h6>
                  <p>User interface designer and <br/> front-end developer</p>
                  <div class="buttons" type="submit">
                      <button class="primary">
                          Apply Now
                      </button>
                      <button class="primary ghost">
                          Message
                      </button>
                  </div>
                  <div class="skills">
                      <h6>Type</h6>
                      <ul>
                          <a href="#" style="color:white"><li>Full Time</li></a>
                          <a href="#" style="color:white"><li>Min 1 Year</li></a>
                          <a href="#" style="color:white"><li>Senior Level</li></a>
                      </ul>
                  </div>
              </div>
          </form>
        </div>
      {% endif %}
      {% endfor %}
    </div>


    <div class="pagination" style="margin-left: 40%">
      {% if posts.has_previous %}
        <a href="?page=1" >First</a>
        <a href="?page={{posts.previos_page_number}}">previos</a>
      {% endif %}

      {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a href="?page={{ num }}" class="active">{{ num }}</a>
          {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <a href="?page={{poats.next_page_number}}">next</a>
        <a href="?page={{posts.paginator.num_pages}}">last</a>
      {% endif %}
    </div>
    <br>
    <br>

<div class="button_cont" align="center"><a class="example_b" href="{% url 'Job:logout' %}" target="_blank" rel="nofollow noopener">Logout</a></div>
</body>
</html>